@import "bootstrap";

/* Navigation */@at-root
.logo {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 150px;
}

.navigation {
  display: flex;
  align-items: baseline;

    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 30px;
    font-weight: 450;
}

.sign-in-up {
margin-right: 10px;
margin-left: 20px;
}

.card {
  margin: 0.5rem 0.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-card {
  margin: center;
  width: 25rem;
  padding: 3rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .3);
}

.centerTitle {
  text-align: center;
}

.centerCard {
  display: grid;
  grid-template-columns: 1fr;
  min-width: max-content;
  margin: 3em auto;
}

@media (min-width: 750px) {
  .centerCard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .centerCard {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .centerCard {
    grid-template-columns: repeat(5, 1fr);
  }
}



 /*Devise Styling*/

 

 html, body {
  height: 100%;
 }

 .global-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
 }

 form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
 }

.card-title {
  font-weight: 300;
  padding-top: 30px;
}

.sign-up-form {
  width: 500px;
  margin: 20px;
}

.btn {
  font-size:14px;
  margin-top: 20px;
  color: white;
}

.background-image {
  background: image-url('signupbg2');
  background-size: cover; 
  height: 1100px; 
  background-repeat: no-repeat;
}

.log-in {
  text-align: center;
  padding: 20px 0 0;
  margin-bottom: 30px;
}


/* AboutUs | reactstrap */

.card {
  margin: 3rem 0;
 
 }
 .about-name {
   padding-bottom: 20px;
 }
 .about-index-cards {
   
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; /*it adds space  20px between cards*/
  padding-top: 50px;
  align-content: "center";
 
 }

.card-about {
  width: 18rem;
  min-height: 500px;
}

 


.meet-team-bg {
background: url("https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&w=800");
background-size: cover; 
height: 1200px;
background-repeat: no-repeat;
}

.meet-the-team {
  text-align: center;
  padding-top: 50px;
  color: white;
}
.profiles {
  height: 200px;
  width: 100%;
  
}