@import "bootstrap";

.card {
  margin: 0.5rem 0.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-card {
  margin: center;
  width: 25rem;
  padding: 3rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .3);
}

.centerTitle {
  text-align: center;
}

.centerCard {
  display: grid;
  grid-template-columns: 1fr;
  min-width: max-content;
  margin: 3em auto;
}

@media (min-width: 750px) {
  .centerCard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .centerCard {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .centerCard {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Cats Card from reactstrap goes here*/
.card {
  margin: 3rem 0;
 
 }
 .cat-name {
   padding-bottom: 20px;
 }
 .cat-index-cards {
   
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; /*it adds space  20px between cards*/
  padding-top: 50px;
  align-content: "center";
 
 }