@import "bootstrap";


/* Navigation */
.logo {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 150px;
}

.navigation {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 30px;
    font-weight: 450;
}

.sign-in-up {
margin-right: 10px;
margin-left: 20px;
}

.card {
  margin: 0.5rem 0.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-card {
  margin: center;
  width: 500px;
  padding: 3rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .3);
}

.centerTitle {
  text-align: center;
}

.centerCard {
  display: grid;
  grid-template-columns: 1fr;
  min-width: max-content;
  margin: 3em auto;
}

@media (min-width: 750px) {
  .centerCard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .centerCard {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .centerCard {
    grid-template-columns: repeat(5, 1fr);
  }
}


 /*Devise Styling*/

 .global-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
 }

.card-title {
  font-weight: 300;
  padding-top: 30px;
}

.sign-up-form {
  width: 500px;
  margin: 20px;
  background: rgba(225, 225, 225, 0.2);
  color: white;
}
.btn {
  font-size:14px;
  margin-top: 20px;
  color: white;
}

.background-image {
  background: image-url('signupbg2');
  background-size: cover; 
  height: 1100px; 
  background-repeat: no-repeat;
}
.mask {
  background-color: rgba(0, 0, 0, .5);
}
.log-in {
  text-align: center;
  padding: 20px 0 0;
  margin-bottom: 30px;
  color: transparent;
}

/* AboutUs | reactstrap */

.card {
  margin: 3rem 0;
 
 }
 .about-name {
   padding-bottom: 20px;
 }
 .about-index-cards {
   
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; /*it adds space  20px between cards*/
  padding-top: 50px;
  align-content: center;
 
 }

.card-about {
  width: 18rem;
  min-height: 500px;
}

.meet-team-bg {
background: url("https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&w=800");
background-size: cover; 
height: 1200px;
background-repeat: no-repeat;
}

.meet-the-team {
  text-align: center;
  padding-top: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.profiles {
  height: 200px;
  width: 100%;
  
}

/* Home page Video bg */

.main {
  width: 100%;
  height: 110vh;
}

video {
  width: 100%;
  height: 110vh;
  object-fit: cover;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.title {
  margin-top: 150px;
  margin-bottom: 30px;
}

/* Index Cards */

.popular-cities-title {
  text-align: center;
  padding-top: 80px;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;

}

.popular-cities-bg {
  background: url("https://images.pexels.com/photos/2480685/pexels-photo-2480685.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
background-size: cover; 
height: 100%;
background-repeat: no-repeat;
// padding-bottom: 20px;
}

.mask-popular-cities {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  // padding-bottom: 200px;
}

.city-index-cards {
   
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; /*it adds space  20px between cards*/
  padding-top: 100px;
  padding-bottom: 100px;
  // margin-bottom: 100px;
  align-content: center;
  
 }

 .card-index {
  width: 23rem;
  min-height: 440px;
  margin: 0 0 1em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border-radius: 45px;
  background: rgba(225, 225, 225, 0.3);
  color: white;
}

/* My Cities */

.my-cities-bg {
  background: url("https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover; 
  height: 100%;
  background-repeat: no-repeat;
  }

  .mask-my-cities {
    background-color: rgba(0, 0, 0, .5);
  height: 100%;
  }
  .more-details-btn {
    width: 150px;
    font-size:14px;
    margin-top: 20px;
    color: white;
    padding: 5px;
  }

  /* Add Cities */

  .add-cities-bg {
    background: url("https://images.pexels.com/photos/2627316/pexels-photo-2627316.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-size: cover; 
    height: 1000px;
    background-repeat: no-repeat;

  }

  .add-city-form {
      width: 500px;
      margin: 20px;
      background: rgba(225, 225, 225, 0.2);
      color: white;
    }

  .add-city-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /*it adds space  20px between cards*/
    padding-top: 80px;
    margin-bottom: 100px;
    align-content: center;
  }

  .add-city-btn {
    width: 200px;
  }

  .back-btn {
    width: 200px;
  }

  /* Show City */

  .show-city-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; /*it adds space  20px between cards*/
  padding-top: 100px;
  // margin-bottom: 100px;
  padding-bottom: 100px;
  align-content: center;
  height: 800px;
  }
  // .show-main {
  //   width: 100%;
  //   height: auto;
  // }
  .show-city-bg {
    background: url("https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-size: cover; 
    height: 100%;
    background-repeat: no-repeat;

  }

  .mask-show {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  }

  .card-show {
    width: 35rem;
    min-height: 480px;
    margin-left: 25px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border-radius: 45px;
    // background: rgba(225, 225, 225, 0.2);
    color: white;
  }

  hr.separate-show {
    border: 2px solid white;
    width: 300px;
  }

  .back-btn-show {
    width: 200px;
    color: #000000;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    border: 2px solid gray;
  }

  .mask-card-show-city{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    height: 650px;
  }

  .card-show-bg-image {
 
      background: url("https://images.pexels.com/photos/210205/pexels-photo-210205.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-size: cover; 
    height: 650px;
    background-repeat: no-repeat;

  }

  /* Show My City */

  .show-my-city-bg {
    background: url("https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-size: cover; 
    height: 100%;
    background-repeat: no-repeat;

  }

  .mask-my-show {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  }

  .show-my-city-cards {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 50px;
    align-content: center;
    }

  .card-my-city-show {
      width: 35rem;
      min-height: 480px;
      margin-left: 25px;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border-radius: 45px;
      // background: rgba(225, 225, 225, 0.2);
      color: white;
    }

    .card-my-city-show-bg-image {
      background: url("https://images.pexels.com/photos/2480685/pexels-photo-2480685.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      background-size: cover; 
      height: 800px;
      background-repeat: no-repeat;
    }

    .mask-card-my-city-show{
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 45px;
      height: 800px;
    }

  .display-flex-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .back-btn-protected-show {

    display: flex;
   justify-content: center;
    
  }
.back-btn-my-city-show {  
  width: 200px;
  color: #000000;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  border: 2px solid gray;
}

.back-btn-my-city-show-back {
  width: 450px;
  color: #000000;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  border: 2px solid gray;
}

/* Edit City */ 
.show-city-edit-bg {
  background: url("https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover; 
  height: 100%;
  background-repeat: no-repeat;

}

.mask-popular-cities-edit {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  // padding-bottom: 200px;
}
.notes-country-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.notes-city-title {
  text-align: center;
  padding-top: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* Not Found */

.btn-notfound {
 border: 2px solid gray;
}

.notfound-video {
  width: 100%;
  height: 110vh;
  object-fit: cover;
}
.overlay-notfound-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135vh;
  background-color: rgba(0, 0, 0, .5);
}